target/
!.mvn/wrapper/maven-wrapper.jar

### IntelliJ / Eclipse / VS Code ###
.idea/
*.iml
.classpath
.project
.settings/
.vscode/

### Logs ###
*.log

### Uploads gerados em runtime ###
uploads/

### Chaves RSA (NÃO versionar segredos) ###
src/main/resources/certs/*.pem

### Variáveis de ambiente locais ###
.env
